/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #647c90;
  --secondary-color: #e2ded0;
  --ternay-color: #4e4f50;
  --final-color: #746c70;
}

/* Basic styles for the body */
/* body {
  line-height: 1.6;
  color: #333;
} */

/* Container class for consistent width */
/* .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
} */

/* Header styles */
/* header {
  background: #f5f1f1;
  color: #2c2a2a;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 40px; 
  margin-right: 10px; 
  border-radius: 50px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: inherit; 
}

.logo-container h1 {
  font-size: 1.5em;
  margin: 0;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin-top: 5px;
  font-size: 1.1em;
  font-weight: 500;
}

header nav ul li {
  display: inline;
  margin-left: 10px;
}

header nav ul li a {
  color: #2b2727;
  text-decoration: none;
  padding: 10px 20px;
}

header nav ul li a:hover {
  background-color: var(--final-color);
  color: #fff;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header .nav-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  border: none;
}

header .nav-toggle .hamburger {
  width: 25px;
  height: 3px;
  background: #272424;
  display: block;
  position: relative;
}

header .nav-toggle .hamburger::before,
header .nav-toggle .hamburger::after {
  content: "";
  width: 25px;
  height: 3px;
  background: #363333;
  display: block;
  position: absolute;
  left: 0;
}

header .nav-toggle .hamburger::before {
  top: -8px;
}

header .nav-toggle .hamburger::after {
  top: 8px;
} */

/* Base button styles */
/* .register-btn {
  background-color: var(--primary-color); 
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
} */

/* Hover effects */
/* .register-btn:hover {
  background-color: var(--final-color); 
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); 
} */

/* Icon styling */
/* .register-btn i {
  margin-right: 1px; 
} */

/* About Section */
.about-banner {
  background-color: #798694;
  color: white;
  margin-top: 1px;
  padding: 5px 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.about-banner p {
  display: inline-block;
  position: relative; /* Required for the left property to work */
  animation: scroll-text 15s linear infinite; /* Slower scroll */
  white-space: nowrap;
  font-size: 1.2rem; /* Larger font size */
  font-weight: bold; /* Bold text */
}

/* Keyframes for the scroll animation */
@keyframes scroll-text {
  0% {
    left: -100%; /* Start position outside the view on the left */
  }
  100% {
    left: 100%; /* End position outside the view on the right */
  }
}

/* Slideshow Container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
}

/* Slide Styles */
.mySlides {
  display: none;
  position: relative;
  margin: 0px;
}

.mySlides img {
  vertical-align: middle;
  width: 100%;
  opacity: 0.4;
}

/* Caption Text */
.text {
  color: #0a051c;
  font-size: 40px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  opacity: 1; /* Ensure text is fully opaque */
}

/* Subtext Paragraph */
.subtext {
  color: #0a051c;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 5px;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  opacity: 0.8; /* Adjust the opacity to desired level */
}

/* The Dots/Bullets/Indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}

.active {
  background-color: #717171;
}

/* Fading Animation */
.fade {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Our Story  */

.our-story {
  background-color: #f5f1f1;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.our-story h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.our-story p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 15px;
}

.our-story ol li {
  margin-left: 1em;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .our-story {
    padding: 15px;
    font-size: 1rem;
  }

  .our-story h2 {
    font-size: 1.5rem;
  }

  .our-story p {
    font-size: 1rem;
  }
}

/* Flexbox container for the review section */
.reviews-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.form-container {
  flex: 1;
  max-width: 45%; /* Adjust as needed */
  background-color: #f5f1f1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-group textarea {
  resize: vertical;
}

.stars {
  display: flex;
  gap: 2px; /* Reduced gap between stars */
  flex-direction: row-reverse;
}

.stars input[type="radio"] {
  display: none;
}

.stars label[for^="star"] {
  font-size: 2em;
  color: #ccc;
  cursor: pointer;
}

.stars input[type="radio"]:checked ~ label[for^="star"] {
  color: #ffd700;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.submit-button:hover {
  background-color: var(--final-color);
}

/* Review Container */
.review-container {
  flex: 1;
  max-width: 45%; /* Adjust as needed */
  background-color: #f5f1f1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.review {
  margin-bottom: 20px;
}

.review h3 {
  margin: 0;
  color: #333;
  font-size: 1.5em;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between stars and the name */
}

.review-header .stars {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-direction: row;
}

.review-header .stars .star {
  font-size: 1.5em;
  color: #ffd700;
}

.review-header .stars .star.empty {
  color: #ccc;
}

.review-text {
  margin-top: 10px;
  color: #666;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .reviews-section {
    flex-direction: column;
  }

  .form-container,
  .review-container {
    max-width: 100%;
  }
}

/* Responsive Text Sizes */
@media only screen and (max-width: 1024px) {
  .text {
    font-size: 35px;
  }
  .subtext {
    font-size: 20px;
    top: 46%;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 30px;
  }
  .subtext {
    font-size: 15px;
    top: 42%;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    font-size: 20px;
  }
  .subtext {
    font-size: 12px;
    top: 40%;
  }
}

/* Responsive Navigation */
@media (max-width: 768px) {
  header nav {
    float: none;
    text-align: center;
    display: none; /* Hide the nav by default on smaller screens */
  }

  header nav.nav-open {
    display: block; /* Show the nav when the toggle is clicked */
  }

  header nav ul {
    padding: 10px;
  }

  header nav ul li {
    display: block;
    margin: 10px 0;
  }

  header .nav-toggle {
    display: inline-block;
  }
}

/* footer  */

/* .footer-container {
  background-color: #140532;
  color: #fff;
  padding: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  color: #fff;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5em;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
} */

/* Responsive Layout */
/* @media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    max-width: 100%;
  }

  .social-icons a {
    margin: 0 5px;
  }
} */

@media screen and (min-width: 769px) and (max-width: 1001px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header nav ul li {
    margin: 0 5px;
  }

  header .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-toggle {
    display: block;
  }
  nav {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    width: 100%;
    flex-direction: column;
  }
  .nav-links li {
    width: 100%;
    margin: 0;
  }
  /* .nav-links a {
    width: 100%;
    text-align: left;
    padding: 10px;
  } */
  nav.active {
    display: flex;
  }
}

@media screen and (min-width: 769px) and (max-width: 976px) {
  /* Ensure the navigation menu is displayed as a flex container */
  header nav ul {
    display: flex; /* Align items horizontally */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style: none; /* Remove bullet points */
    justify-content: center; /* Center align the items */
    flex-wrap: wrap; /* Allow wrapping if necessary */
  }

  header nav ul li {
    display: inline-block; /* Ensure items are in a row */
    margin: 0px 0px; /* Adjust margins for spacing */
  }

  header nav ul li a {
    font-size: 14px; /* Reduce font size */
    padding: 5px 10px; /* Adjust padding */
  }

  header .nav-toggle {
    display: none; /* Hide the menu toggle button */
  }
}

.main-heading {
  padding: 0.5em 0 0 0;
  text-align: center;
}

.main-heading h2 {
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #333;
}

/* print screen css */

@media print {
  .main-heading h2 {
    margin-bottom: 10%;
  }

  .mySlides img {
    display: none;
  }
  .our-story {
    margin-top: 18%;
  }
  .text {
    margin-top: -8%;
  }

  .review-header .stars .star {
    color: #000;
  }

  .logo {
    filter: grayscale(100%);
  }
  .submit-button {
    color: #000;
    font-size: 1em;
  }

  .footer-column .links li a {
    text-decoration: none;
    color: #000;
  }
  .footer-column .icons i {
    color: #000;
  }
  .footer-row .footer-column h4 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-column p {
    margin: 20px 0;
    color: #000;
    max-width: 300px;
  }

  .footer-bottom {
    color: #000;
    padding: 10px 0;
    text-align: center;
  }
  header nav {
    float: none;
    text-align: center;
    display: inline;
  }
  .register-btn {
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
  }
}
