/* Product page */

.producthead {
  color: black;
  margin-top: 0.1em;
  text-align: center;
}

:root {
  --primary-color: #647c90;
  --secondary-color: #e2ded0;
  --ternay-color: #4e4f50;
  --final-color: #746c70;
}

.producthead h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.featured-products {
  padding: 2px;
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.featured-products h2 {
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  max-width: 100%;
  margin: auto;
  height: 100%;
}

.productcard {
  box-shadow: 0 4px 8px 0 rgba(213, 132, 132, 0.2);
  max-width: 270px;
  text-align: center;
  font-family: arial;
  border: 1px solid #161616;
  border-radius: 20px;
  padding: 10px;
  margin: 14px;
  height: 40%;
  width: 100%;
}

.productcard p a {
  text-decoration: none;
}

.productcard img {
  width: 100%;
  /* max-width: px; */
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
  margin-top: 0px;
  max-height: 80%;
  object-fit: cover;
}

.price {
  color: rgb(231, 11, 11);
  font-size: 20px;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
  font-size: 20px;
}

.discounted-price {
  color: #e60000;
  font-size: 20px;
}

/* .productcard button {
  border-radius: 4px;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  margin-bottom: 1px;
  text-decoration: none;
} */

.productcard-button {
  display: block;
  border-radius: 4px;
  padding: 12px;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  margin-bottom: 1px;
  text-decoration: none;
}

.productcard-button:hover {
  /* opacity: 0.7; */
  background-color: var(--final-color);
}

.search-dropdown option[label]:before {
  content: attr(label);
  display: block;
  color: #000;
  font-weight: normal;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.search {
  position: relative;
  width: 100%;
  max-width: 700px;
}

form {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-dropdown {
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  border-radius: 25px 0 0 25px;
  outline: none;
  transition: background-color 0.3s;
}

.search-dropdown:hover {
  background-color: #e2e6ea;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  border-radius: 0;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button a {
  text-decoration: none;
}

.search-button i {
  margin: 0;
}

.search-button:hover {
  background-color: var(--final-color);
}

@media (max-width: 600px) {
  .search-dropdown {
    font-size: 14px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  .search-button {
    font-size: 14px;
  }
}
